version: '3'
services:

  nginx:
    build:
      context: services/nginx
    ports:
      - "80:80"
      - "443:443"
    volumes:
      - ./services/nginx/conf/nginx.conf:/etc/nginx/conf.d/default.conf
      - ../src:/var/www/
    depends_on:
      - php

  php:
    build:
      context: services/php
    volumes:
      - ../src:/var/www/
    depends_on:
      - postgres

  # Postgres Database
  postgres:
    build:
      context: services/postgres
    command: postgres -c logging_collector=on -c log_destination=stderr -c log_directory=/var/log/postgres -c config_file=/etc/postgres/postgresql.conf
    volumes:
      - db_data:/var/lib/postgresql/data
      - ./services/postgres/logs:/var/log/postgres
      - ./services/postgres/config:/etc/postgres
    ports:
      - 5432:5432
    environment:
      - "POSTGRES_PASSWORD=postgres"

  redis:
    image: redis
    ports:
      - 6379:6379

volumes:
  db_data:
